@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

@theme {

  /* fonts */
  --font-Poppins: "Poppins", sans-serif;


  /* colors */
  --color-brand: #43A6A3;
  --color-primary: #212529;  
  --color-secondery: #777777;

  /* container breakpoints */
  /* --breakpoint-8xl: 96rem; */
  --breakpoint-7xl: 80rem;
  --breakpoint-6xl: 72rem;
  --breakpoint-5xl: 64rem;
  --breakpoint-4xl: 56rem;
  --breakpoint-3xl: 48rem;
  --breakpoint-2xl: 42rem;
  --breakpoint-xl: 36rem;
  --breakpoint-lg: 32rem;
  --breakpoint-md: 28rem;
  --breakpoint-sm: 24rem;
  --breakpoint-sx: 20rem;
  --breakpoint-2sx: 18rem;
  --breakpoint-3sx: 16rem;




  /* animation */
  --animate-animateEvent: animateEvent 5s infinite;
  @keyframes animateEvent {
    0% {
        stroke-dasharray: 0 80%;
   }
    100% {
        stroke-dasharray: 10% 0%;
        stroke-dashoffset: 25%;
   }
}
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}


/* common css  */
*{
  @apply font-Poppins
}
body{
  @apply overflow-x-hidden relative
}

.cmnBtn{
  @apply px-12 py-4 text-sm font-bold text-white bg-brand border border-brand rounded-[35px] transition-colors duration-300
}
.bnrAminate{
  @apply 3xl:text-[4.5rem] font-black uppercase tracking-[8px] fill-transparent stroke-white stroke-[2px] w-full animate-animateEvent
}